body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: auto;
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.summary {
  background: #d4edda;
  padding: 10px;
  border-radius: 10px;
}